#wrap{height: 550px; width: 700px;}
#header{height: 100px; width: 700px; background: #666666;}
#section{height: 400px; width: 700px; background: yellow;}
#left{height: 400px; width: 100px; background: #ff0000;}
#center{height: 400px; width: 500px; background: #00ff00;}
#right{height: 400px; width: 100px; background: #0000ff;}
#footer{height: 50px; width: 700px; background: #666666;}

.fl{float:left}
.box1_1{height: 100px; width: 100px;}
.box2_5{height: 200px; width: 500px;}
.box2_1{height: 200px; width: 100px;}
.color1{background: #ff0000;}
.color2{background: #00ff00;}
.color3{background: #0000ff;}
.color4{background: #6666ff;}
.color5{background: #9999ff;}
