#wrap{height: 550px; width: 700px;}
#header{height: 100px; width: 700px;}
#section{height: 400px; width: 700px;}
#footer{height: 50px; width: 700px;}




.box1_1{height: 100; width: 100; background:ff0000}
