#wrap{height: 550px; width: 700px}
#header{height: 100px; width: 700px; background: #666666;}
#section{height: 400px; width: 700px; background: #ff9999;}
#footer{height: 50px; width: 700px; background: #666666;}







.box1_1{height: 100px; width: 100px;}
.box1_1{height: 100px; width: 100px;}
.box2_5{height: 200px; width: 500px;}
.box2_1{height: 200px; width: 100px;}

.color1{background: #ff0000;}
.color2{background: #00ff00;}
.color3{background: #0000ff;}
.color4{background: #00ffff;}
