/* 이건 주석문이야!! */
header{width: 700px; background: #ff0000;}
footer{width: 700px; background: #0000ff;}
section{width: 700px; background: #ffff00;}
aside{width: 100px; background: #00ff00;}
article{width: 500px; background: #00ffff;}
.fl{float: left;}
.cb{clear: both;}










